@page "/"
@using MTechSytem.Data
@using MTechSytem.Models
@inject EmployeeService EmployeeService;
@inject NavigationManager navManager

<PageTitle>MTechSystem</PageTitle>

<h1>Employees management system!</h1>

Register employees to begin.

@*<SurveyPrompt Title="How is Blazor working for you?" EmployeeObj="@emparam" />*@

<div class="header alert alert-primary mt-4">
    <button class="btnEmployee oi oi-plus border-0" @onclick="LoadCreatePage"> New Employee</button>
    <div class="mt-2">
        <EditForm Model="_searchData" OnValidSubmit="FilterEmployees">
            <label>
                Search by name
                <InputText @bind-Value="_searchData.NameToSearch" @onkeyup="@Keypress" />
            </label>
            <button type="submit"> Search </button>
        </EditForm>
    </div>
</div>

@if (_employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>RFC</th>
                <th>Born Date</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in _employees)
            {
                <tr>
                    <td>@emp.ID</td>
                    <td>@emp.Name</td>
                    <td>@emp.LastName</td>
                    <td>@emp.RFC</td>
                    <td>@emp.BornDate?.ToShortDateString()</td>
                    <td>@emp.Status</td>
                    <td> <button class="oi oi-pencil border-0"></button> </td>
                    <td> <button class="oi oi-x border-0" @onclick="()=>DeleteEmployee(emp.ID)"></button> </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {


    private List<Employee> _employees;
    private searchData _searchData = new searchData();

    protected override async Task OnInitializedAsync()
    {
        _employees = await EmployeeService.GetEmployees();
    }

    private async Task DeleteEmployee(int id)
    {
        var response = await EmployeeService.DeleteEmployee(id);
        if (response == System.Net.HttpStatusCode.OK)
        {
            _employees = await EmployeeService.GetEmployees();
        }
    }

    string KeyPressed = "";
    private async void Keypress(KeyboardEventArgs args)
    {
        if (string.Equals(args.Key, "Enter", StringComparison.OrdinalIgnoreCase))
        {
            _employees = await EmployeeService.GetEmployees(_searchData.NameToSearch);
           // StateHasChanged();
        }
    }

    private async Task FilterEmployees(){
        _employees = await EmployeeService.GetEmployees(_searchData.NameToSearch);
        //StateHasChanged();
    }

    class searchData{

        public string NameToSearch{ get; set; }
    }

    private void LoadCreatePage()
    {
        navManager.NavigateTo("/Create");
    }

}
